<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>
<main role="main" class="container">

    <div class="starter-template">
        <h1>Login</h1>
        <h2>
            <span th:text="'Hello, ' + ${message}"></span>
        </h2>
    </div>

    <form th:action="${url}" method="get">
        <fieldset>

            <div class="field">
                <input type="text" placeholder="Username" autofocus="" data-val="true"
                data-val-required="The Username field is required." id="Username" name="username">
            </div>

            <div class="field">
                <input type="password" placeholder="Password" autocomplete="off" data-val="true"
                   data-val-required="The Password field is required." id="Password" name="password">
            </div>

            <div class="field" >
                <input type="hidden" id="Code" name="code" th:value="${code}" >
            </div>

            <div class="field">
                <input type="hidden" id="State" name="state" th:value="${state}" >
            </div>

            <button id="Login">Login</button>
        </fieldset>
    </form>
</main>


<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>